In [1]:
import numpy as np
import pandas as pd

## Pandas Series Object

In [2]:
data = pd.Series([.025,.5,.75,1.0])
data

0    0.025
1    0.500
2    0.750
3    1.000
dtype: float64

In [3]:
data.values

array([0.025, 0.5  , 0.75 , 1.   ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

###### Series as generalized numpy arrays

In [7]:
#Index can be integers of strings of chars
data = pd.Series([.25,.5,.75,1.0], index=['a','b','c','d'])

In [8]:
data['b']

0.5

In [9]:
# We can even use noncontiguous or nonsequential indices
data = pd.Series([.25,.5,.75,1], index=[2,5,3,7])

In [10]:
data[7]

1.0

###### Pandas series as specialized dictionaries

In [11]:
population_dict = {
    "California":38332521,
    "Texas":28448193,
    "New York":19651127,
    "Florida":19552862,
    "Illonous":12882135
}
population = pd.Series(population_dict)
population

California    38332521
Texas         28448193
New York      19651127
Florida       19552862
Illonous      12882135
dtype: int64

In [12]:
population['California']

38332521

###### Constructing Series object

In [13]:
#pd.Series(data,index=index)
#where index is optional

#data can be list
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [14]:
#data can be scaller, which is repeated to fill the required index
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [15]:
#can be a dictionery
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [16]:
#in each index can be explictly set
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

## Pandas DataFrame Object

In [17]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [18]:
states = pd.DataFrame({'population':population,
                      'area':area})
states

            population      area
California  38332521.0  423967.0
Florida     19552862.0  170312.0
Illinois           NaN  149995.0
Illonous    12882135.0       NaN
New York    19651127.0  141297.0
Texas       28448193.0  695662.0

In [19]:
states.index

Index(['California', 'Florida', 'Illinois', 'Illonous', 'New York', 'Texas'], dtype='object')

In [20]:
states.columns

Index(['population', 'area'], dtype='object')

###### Data frames as speclalized dictionary

In [21]:
states['area']

California    423967.0
Florida       170312.0
Illinois      149995.0
Illonous           NaN
New York      141297.0
Texas         695662.0
Name: area, dtype: float64

#### Constructing DataFrames

###### From a single Series object:A DataFrame is a collection of Series objects, and a single-column DataFrame can be constructed from a single Series

In [22]:
pd.DataFrame(population,columns=['population'])

            population
California    38332521
Texas         28448193
New York      19651127
Florida       19552862
Illonous      12882135

#### From a list of dictionaries

In [23]:
data = [{'a':i,'b':2**i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  1
1  1  2
2  2  4

In [24]:
# If some keys are missing, pandas will fill the space with Nan
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionaries of Series of Objects

In [25]:
pd.DataFrame({'population':population,'area':area})

            population      area
California  38332521.0  423967.0
Florida     19552862.0  170312.0
Illinois           NaN  149995.0
Illonous    12882135.0       NaN
New York    19651127.0  141297.0
Texas       28448193.0  695662.0

#### From Two Dimensional Numpy Array

In [26]:
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.617868  0.401199
b  0.272582  0.094999
c  0.648133  0.329962

#### From Numpy Structured array

In [27]:
A = np.zeros(3, dtype=[('A','i8'),('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [28]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The pandas index object

In [29]:
ind = pd.Index([2,3,5,7,11])

###### Index as Immutable Objects

In [30]:
ind[1]

3

In [31]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [32]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [33]:
# ind[2]=0

###### Index as ordered set

In [34]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,9])

In [35]:
indA & indB # intersaction

Int64Index([3, 5, 7, 9], dtype='int64')

In [36]:
indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9], dtype='int64')

In [37]:
indA ^ indB # symmetric difference

Int64Index([1, 2], dtype='int64')