# data indexing and selection

#### data selection is series

###### series as dictionaries

In [1]:
import pandas as pd
data = pd.Series([.25,.5,.75,1],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
data['b']

0.5

In [3]:
'a' in data

True

In [4]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [6]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

###### Series a one dimensional array

In [7]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [8]:
data[0:3]

a    0.25
b    0.50
c    0.75
dtype: float64

In [9]:
#masking
data[(data>0.3) &(data<0.8)]

b    0.50
c    0.75
dtype: float64

In [10]:
#fancy indexing
data[['a','e']]

a    0.25
e    1.25
dtype: float64

###### Indexers

In [11]:
data = pd.Series(['a','b','c'], index=[1,2,3])
data

1    a
2    b
3    c
dtype: object

In [12]:
data[1]

'a'

In [13]:
data[1:3]

2    b
3    c
dtype: object

In [14]:
data.loc[1]

'a'

In [15]:
data.loc[1:3]

1    a
2    b
3    c
dtype: object

In [16]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'New York': 141297, 'Florida': 170312,
'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127, 'Florida': 19552860,
'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [17]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [18]:
data.area is data['area']

True

In [19]:
data.pop is data['pop']

False